body
{
  padding: 0px;
  margin: 0px;
}
.full-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-container
{
  background-color: rgba(159, 159, 159, 0.307);
  width: 1200px;
  display: flex;
  flex-direction: column;
}


.all-dogs-wrapper
{
  min-height: 100vh;
}

.row
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.col
{
  
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  max-width: 300px;
}